/* FONTS */
/* abeezee-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Future PT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FuturaPT-Light.woff') format('woff');
}

/* abeezee-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Future PT';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/FuturaPT-Medium.woff') format('woff'); 
}

/* abeezee-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Future PT';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/FuturaPT-Bold.woff') format('woff');
}


/* ROOT */
:root {
  /* colors */
  --colorPrimary: #fff;
  --colorSecondary: #ccc;
  /* backgrounds */
  /* --backgroundPrimary: #000;
  --backgroundSecondary: #fff; */
  /* btn colors */
  --btnColor: #f00;
  --btnHover: #fff;
  --btnDisabled: #fff;
  /* fonts */
  --fontFamily: "Future PT";
  /* --fontWeight: 400;
  --fontSize: 12px; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  background-color: var(--backgroundPrimary);
  color: var(--colorPrimary);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 15px;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}


/* HEADER START */


.site-header__wrapper-start{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  padding: 11px 0 12px 0;
}

.site-header__wrapper-list{
  width: 100%;
  max-width: 1117px;
  padding: 11px 0;
  display: flex;
  justify-content: space-between;
}

.site-header__start-list{
  display: flex;
}

.site-header__start-item{
  align-items: center;
}

.site-header__start-2{
  display: flex;
  align-items: center;
}

.site-header__start-link{
  margin:0 8px;
  align-items: center;
  font-family: var(--fontFamily);
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}

.site-header__start-link:hover{
  color: #FFBD54;
}

.site-header__wrapper-end{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 41px;
  padding: 20px 0;
}

.site-header__img{
  z-index: 99;
}

.site-header__end-nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__end-nav-item{
  margin-right: 55px;
  display: flex;
  align-items: center;
}

.site-header__link{
  display: flex;
  align-items: center;
}

.site-header__link-img{
  margin-right: 7px;
}

.site-header__end-link{
  align-items: center;
  color: #333;
  font-family: var(--fontFamily);
  font-size: 16px;
  font-weight: 500;
}

.site-header__end-link:hover{
  color: #FFBD54;
}

@media only screen and (max-width:1296px){
  .site-header{
    &__logo-img{
      top: 35px;
    }
  }
}

@media only screen and (max-width:1180px){
  
  .site-header__img{
    margin-right: 150px;
  }
  
}

@media only screen and (max-width:1140px){
  
  .site-header__wrapper-start{
    display: none;
  }
  
  .site-header__wrapper-end{
    padding: 15px 0;
  }
  
  .site-header__nav{
    display: none;
  }
  
  .site-header__end-link{
    display: none;
  }
  
  .site-header__menu{
    display: block;
    font-size: 30px;
  }
  
}

@media only screen and (max-width: 576px){
  .site-header{
    
    &__logo-img{
      width: 150px;
    }
    
  }
  
}
/* HEADER END */

/* MAIN START */
.site-main{
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
}
/* HERO START */
.site-hero__section{
  margin-bottom: 45px;
  padding: 125px 97px 215px 0;
  background-image: url("../images/img.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 40px) -80px;
}

.site-hero__wrapper{
  display: flex;
  justify-content: flex-end;
}

.site-hero__title{
  width: 100%;
  max-width: 608px;
  color: #333;
  font-family: var(--fontFamily);
  font-size: 70px;
  font-weight: 700;
}

.site-hero__content-title{
  color: #78C0DE;
  font-family: var(--fontFamily);
  font-size: 70px;
  font-weight: 700;
}

.site-hero__desc{
  width: 100%;
  max-width: 495px;
  margin-top: 29px;
  margin-bottom: 38px;
  color: #949494;
  font-family: var(--fontFamily);
  font-size: 16px;
  font-weight: 400;
}

.site-hero__btn{
  width: 181px;
  height: 50px;
  border-radius: 3px;
  background: #333;
  
  color: #FFF;
  font-family: var(--fontFamily);
  font-size: 16px;
  font-weight: 500;
}

.site-hero__btn:hover{
  background-color: #333333CC;
}

.site-hero__btn:active{
  background-color: #33333399;
}
/* HERO END */

/* QUOTE START */
.quote{
  margin-bottom: 190px;
}

.line{
  width: 140px;
  height: 1px;
  margin: 0 auto 42px;
  color: #dbdbdb;
}

.quote-wrapper{
  width: 100%;
  max-width: 753px;
  margin:0 auto 35px;
  text-align: center;
}

.site-quote{
  position: relative;
  color: #949494;
  font-family: var(--fontFamily);
  font-size: 20px;
  font-weight: 400;
}

.site-quote::before{
  position: absolute;
  top: -20px;
  left: -95px;
  content: url('../images/quote-icon-1.png');
}

.site-quote::after{
  position: absolute;
  top: 30px;
  right: -265px;
  content: url('../images/quote-icon-2.png');
}

.line2{
  width: 140px;
  height: 1px;
  margin: 0 auto 35px;
  color: #dbdbdb;
}

.site-quote__title{
  color: #333;
  text-align: center;       
  font-family: var(--fontFamily);
  font-size: 20px;
  font-weight: 500;
}
/* QUOTE END */

/* SERVISE START */
.servise{
  margin-bottom: 127px;
  font-family: var(--fontFamily);
}
.servise-wrapper{
  display: flex;
  justify-content: center;
}

.servise-img{
  width: 100%;
  max-width: 590px;
  height: auto;
  border-radius: 5px;
}

.servise-content{
  width: 100%;
  max-width: 492px;
  margin-top: 33px;
  margin-left: 48px;
}
.servise-content__title{
  margin-bottom: 18px;
  color: #333;
  font-size: 36px;
  font-weight: 500;
  line-height: 20px;
}

.servise-content__desc{
  margin-bottom: 9px;
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.servise-content__btns{
  display: flex;
  align-items: center;
}

.servise-content__btn{
  margin-top: 34px;
  padding: 14px 36px 15px 35px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.servise-money{
  display: flex;
  align-items: center;
  margin-right: 21px;
  border-radius: 3px;
  border: none;
  background-color: #FFBD54;
}
.servise-money:hover{
  background-color: #ffbd54cc; 
}

.servise-money:active{
  background-color: #ffbd5499; 
}

.servise-document{
  display: flex;
  align-items: center;
  border: none;
  background-color: #333333;
  
} 
.servise-document:hover{
  background-color: #333333cc; 
}

.servise-document:active{
  background-color: #33333399; 
}
/* SERVISE END */

/* STAY START */
.stay-section{
  width: 100%;
  margin-bottom: 216px;
  padding: 80px 0 120px 0;
  background-image: url('../images/stay-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50%);
  font-family: var(--fontFamily);
}

.stay-content{
  width: 100%;
  max-width: 544px;
  margin-left: 220px;
  padding: 170px 0 88px 0;
}

.stay-content__title{
  margin-bottom: 40px;
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
}

.stay-content__form{
  display: flex;
  align-items: center;
}

.stay-content__input{
  width: 100%;
  max-width: 335px;
  margin-right: 21px;
  padding: 18px 0 12px 22px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 5px;
  background-color: #FFF;
  border: none;
  outline: none;
}

.stay-content__input::placeholder{
  color: #949494;
}

.stay-content__btn{
  padding: 15px 51px 14px 53px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 3px;
  background-color: #333;
  cursor: pointer;
}

.stay-content__btn:active{
  opacity: .6;
}
/* STAY END */

/* USEFUL START */
.useful{
  width: 100%;
  margin-bottom: 112px;
  font-family: var(--fontFamily);
}
.useful-title{
  margin-bottom: 80px;
  color: #333;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
}

.useful-list{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}

.useful-list__item:first-child{
  width: 100%;
  max-width: 305px;
  border-radius: 5px;
  border: 1px solid #E4E4E2;
  background-color: #fff;
}

.useful-list__img{
  width: 100%;
  max-width: 305px;
  height: 180px;
  margin-bottom: 21px;
}

.useful-list__time{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 2px;
  padding-right: 22px;
  color: #949494;
  font-size: 14px;
  font-weight: 500;
}

.useful-list__title{
  margin-bottom: 10px;
  padding-right: 93px;
  padding-left: 22px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
}

.useful-list__desc{
  margin-bottom: 38px;
  padding: 0 33px 0 22px;
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.useful-list__link{
  position: relative;
  display: inline-block;
  color:#333;
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 0 54px;
}

.useful-list__link::before{
  position: absolute;
  content: url('../assets/logo/pet.svg');
  top: -4px;
  left:22px;
}

.useful-list__link:hover::after{
  position: absolute;
  content:'';
  top: 8px;
  left: 60px;
  background-color: #ffca74;
  width: 64%;
  height: 7px;
  opacity: .4;
  z-index: -1;
}


.useful-list__link:active{
  opacity: .6;
}

.useful-list__item:nth-child(2){
  width: 100%;
  max-width: 640px;
  display: flex;
  border-radius: 5px;
  border: 1px solid #F3F3F3;
  background-color: #FFF;
}

.useful-list__content{
  margin-left: 31px;
  padding-top: 42px;
  padding-right: 14px;
}

.useful-list__content-link{
  display: inline-block;
  margin-bottom: 31px;
  color: #3D9CEA;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
}

.useful-list__content-link:not(:last-child){
  margin-right: 7px;
}


.useful-list__content-time{
  margin-left: 30px;
  color: #949494;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.useful-list__content-title{
  margin-bottom: 15px;
  color:#333;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px; 
}

.useful-list__content-desc{
  margin-bottom: 36px;
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  line-height: 20px;
}


.useful-list__item:last-child{
  width: 100%;
  max-width: 305px;
  border-radius: 5px;
  border: 1px solid #E4E4E2;
  background-color: #fff;
}
/* USEFUL END */

/* FEEDBACK START */
.feedback{
  margin-bottom: 247px;
  font-family: var(--fontFamily);
}

.feedback-wrapper{
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.feedback-iframe{
  width: 100%;
  height: 100%;
  max-height: 660px;
}

.feedback-content{
  background-image: url('../images/feedback-bg.png');
  background-repeat: no-repeat;
  background-color: #000;
}

.feedback-form{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 166px;
  padding-top: 62px;
  padding-bottom: 74px;
}

.feedback-form__title{
  margin-bottom: 14px;
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}

.feedback-form__desc{
  margin-bottom: 29px;
  color: #949494;
  font-size: 16px;
  line-height: 20px;
}


.feedback-form__input{
  width: 100%;
  max-width: 375px;
  margin-bottom: 14px;
  padding: 16px 0 13px 22px;
  font-size: 16px;
  font-weight: 400;
}

.feedback-form__input:focus{
  outline: none;
}

.feedback-form__input::placeholder{
  color: #949494;
}

.feedback-form__input:valid{
  border: 2px solid #90EE90;
}

.feedback-form__input:not(:focus):not(:placeholder-shown):invalid{
  border: 2px solid red;
}


.feedback-form__textarea{
  padding-right: 70px;
}

.feedback-form__textarea:valid{
  border: 2px solid blue;
}

.feedback-form__textarea:not(:focus):not(:placeholder-shown):invalid{
  border: 2px solid red;
}


.feedback-form__btn{
  padding: 15px 49px 14px 50px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  background-color: #FFBD54;
  border: none;
  cursor: pointer;
}

.feedback-form__btn:active{
  opacity: .6;
}

/* FEEDBACK END */
/* MAIN END */